<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.course.Mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.course.Entity.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="graduationYear" jdbcType="INTEGER" property="graduationyear" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wx" jdbcType="VARCHAR" property="wx" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, sex, birthday, graduationYear, post, cellphone, email, wx
  </sql>
  <insert id="insert" parameterType="com.example.course.Entity.User">
    <!--@mbg.generated-->
    insert into user (id, `name`, sex, 
      birthday, graduationYear, post, 
      cellphone, email, wx
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{graduationyear,jdbcType=INTEGER}, #{post,jdbcType=VARCHAR},
      #{cellphone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{wx,jdbcType=VARCHAR}
      )
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-31-->
  <update id="updateById">
    update user
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=INTEGER},
      </if>
      <if test="updated.name != null">
        name = #{updated.name,jdbcType=VARCHAR},
      </if>
      <if test="updated.sex != null">
        sex = #{updated.sex,jdbcType=VARCHAR},
      </if>
      <if test="updated.birthday != null">
        birthday = #{updated.birthday,jdbcType=VARCHAR},
      </if>
      <if test="updated.graduationyear != null">
        graduationYear = #{updated.graduationyear,jdbcType=INTEGER},
      </if>
      <if test="updated.post != null">
        post = #{updated.post,jdbcType=VARCHAR},
      </if>
      <if test="updated.cellphone != null">
        cellphone = #{updated.cellphone,jdbcType=VARCHAR},
      </if>
      <if test="updated.email != null">
        email = #{updated.email,jdbcType=VARCHAR},
      </if>
      <if test="updated.wx != null">
        wx = #{updated.wx,jdbcType=VARCHAR},
      </if>
    </set>
    where id=#{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-31-->
  <select id="findAllById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where id=#{id,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-31-->
  <delete id="deleteById">
    delete from user
    where id=#{id,jdbcType=INTEGER}
  </delete>

<!--auto generated by MybatisCodeHelper on 2020-06-01-->
  <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>
</mapper>